
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.todo {
  padding: 20px;
  background-color: bisque;
  border: 1px solid #000;
  border-radius: 15px;
}

